.topPanel {
	padding: 5px 20px 0;

	.name {
		font-weight: bold;
	}
}

.item {
	padding: 20px;
	border-top: 2px solid #ccc;

	&:first-child {
		border-top: none;
	}
}

.image {
	width: 100%;
}

.container {
	scroll-behavior: smooth;
	height: 100%;
	overflow: hidden;
}

.date {
	text-align: right;
}
