.instaElement {
	overflow: hidden;
	padding: 5px 20px;
}

.instaItem {
	padding-bottom: 30px;
	border-top: 2px solid #ccc;

	&:first-child {
		border-top: none;
	}
}

:global {
	.hidden {
		display: none;
	}
}

.image {
	width: 100%;
}

.instaElement {
	scroll-behavior: smooth;
}