.okElement {
	height: 100%;
	overflow: hidden;
	scroll-behavior: smooth;
	padding: 5px 20px;

	img {
		width: 100%;
	}

	.elementItem {
		padding: 1em;
	}
}

.avatar {
	width: 48px !important;
	height: 48px !important;
	margin-right: 10px;
}

.description {
	margin-bottom: 15px;
	margin-top: 15px;
}

.feedItem {
	padding-bottom: 20px;
	border-top: 2px solid #ccc;
	margin-top: 20px !important;

	&:first-child {
		border-top: none;
		margin-top: 0 !important;
	}
}