.rssElement {
	height: 100%;
	overflow: hidden;
	scroll-behavior: smooth;
}

.items {
	.description {
		margin: 10px 0 20px;
	}

	.item {
		padding-bottom: 20px;
	}

	.itemTitle {
		margin-top: 20px;
		padding-top: 10px;
		border-top: 2px solid #ccc;
	}

	.itemImg {
		width: 100%;
		margin-bottom: 20px;
	}

	.container {
		overflow: hidden;
		height: 100%;
		scroll-behavior: smooth;
	}
}
