.address {
	position: relative;

	.addressLoader {
		color: white;
		position: absolute;
		top: 15px;
		right: 0;
		padding: 5px;
		opacity: 0;
		visibility: hidden;
		transition: .4s ease-in-out;
		cursor: pointer;

		&.isVisible {
			opacity: 1;
			visibility: visible;
		}
	}
}