.accessWrapper {
	height: 100vh;
}

.container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.permanent {
	position: absolute;
	left: 50%;
	top: 50%;
	transform-origin: 100% 50% 0;
}

.effect {
	position: absolute;
	left: 50%;
	top: 50%;
	transform-origin: 100% 50% 0;
}

.viewport {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}