.labelContainer {
	color: #ddd;
	font-size: 11px;
	line-height: 1.5;
	text-transform: uppercase;
	margin-bottom: 4px;
	display: inline-flex;
	width: 100%;
	align-items: center;
}

.label {
	flex: 1;
	overflow: hidden;
	_white-space: nowrap;
	text-overflow: ellipsis;
}

.icon {
	flex-basis: 18px;
	height: 16px !important;
	width: 18px !important;
}