.outer {
	width: 100%;
}

.root {
	margin: 0 !important;
	justify-content: space-between;
	align-items: center;
	user-select: none;
	padding-bottom: 15px;

	.label {
		overflow: hidden;
		width: 100%;
	}

	.checkbox {
		color: #555 !important;
		padding: 0;
	}

	.checked {
		color: #fff !important;
	}
}